
@{
    ViewBag.Title = "Index";
}



<!-- slider Area Start-->
<div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="single-slider slider-height2 d-flex align-items-center" data-background="assets/img/hero/category.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Card List</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider Area End-->
<!--================Cart Area =================-->
<section class="cart_area" style="padding-bottom:200px">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody id="lsProdByCart">
                        @*<tr class="bottom_button">
                                <td>
                                    <a class="btn_1" href="#">Update Cart</a>
                                </td>
                                <td></td>
                                <td></td>
                                <td>
                                    <div class="cupon_text float-right">
                                        <a class="btn_1" href="#">Close Coupon</a>
                                    </div>
                                </td>
                            </tr>*@
                        @*<tr>
                                <td></td>
                                <td></td>
                                <td>
                                    <h5>Subtotal</h5>
                                </td>
                                <td>
                                    <h5>$2160.00</h5>
                                </td>
                            </tr>*@
                        @*<tr class="shipping_area">
                                <td></td>
                                <td></td>
                                <td>
                                    <h5>Shipping</h5>
                                </td>
                                <td>
                                    <div class="shipping_box">
                                        <ul class="list">
                                            <li>
                                                Flat Rate: $5.00
                                                <input type="radio" aria-label="Radio button for following text input">
                                            </li>
                                            <li>
                                                Free Shipping
                                                <input type="radio" aria-label="Radio button for following text input">
                                            </li>
                                            <li>
                                                Flat Rate: $10.00
                                                <input type="radio" aria-label="Radio button for following text input">
                                            </li>
                                            <li class="active">
                                                Local Delivery: $2.00
                                                <input type="radio" aria-label="Radio button for following text input">
                                            </li>
                                        </ul>
                                        <h6>
                                            Calculate Shipping
                                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                                        </h6>
                                        <select class="shipping_select">
                                            <option value="1">Bangladesh</option>
                                            <option value="2">India</option>
                                            <option value="4">Pakistan</option>
                                        </select>
                                        <select class="shipping_select section_bg">
                                            <option value="1">Select a State</option>
                                            <option value="2">Select a State</option>
                                            <option value="4">Select a State</option>
                                        </select>
                                        <input class="post_code" type="text" placeholder="Postcode/Zipcode" />
                                        <a class="btn_1" href="#">Update Details</a>
                                    </div>
                                </td>
                            </tr>*@
                    </tbody>
                </table>
                <div class="checkout_btn_inner float-right">
                    <a class="btn_1" href="/">Continue Shopping</a>
                    <a class="btn_1 checkout_btn_1" id="btnCheckOut" href="#">Proceed to checkout</a>
                </div>
            </div>
        </div>
</section>
<div class="modal" id="mdCheckOut" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 1200px!important">
        <div class="modal-content">
            <div class="card">
                <div class="card-header"><strong>Checkout</strong><div class="fa fa-times closeMDCheckout" style="float:right"></div></div>
                <div class="card-body card-block" style="overflow:scroll">
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="txtEmail" class=" form-control-label">Email</label></div>
                        <div class="col-12 col-md-9">
                            <input type="email" id="txtEmail" placeholder="Example:estore@gmail.com" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="txtPhoneNumber" class=" form-control-label">Phone number</label></div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="txtPhoneNumber" placeholder="Phone number" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="txtName" class=" form-control-label">Name</label></div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="txtName" placeholder="Name" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="txtAddress" class=" form-control-label">Address</label></div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="txtAddress" placeholder="Address" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="txtNote" class=" form-control-label">Note</label></div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="txtNote" placeholder="Note" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="cboShipMethod" class=" form-control-label">Ship method</label></div>
                        <div class="col-12 col-md-9">
                            <select name="ShipMethod" id="cboShipMethod" class="form-control">
                                <option value="COD">COD</option>
                                <option value="Viettel Post">Viettel Post</option>
                                <option value="GHTK">GHTK</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary closeMDCheckout">Close</button>
                        <button type="button" class="btn btn-primary" id="btnAccept">Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="mdLogin" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="card">
                <div class="card-header"><strong>Checkout</strong><div class="fa fa-times closedMDLogin" style="float:right"></div></div>
                <div class="card-body card-block" style="overflow:scroll">
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="txtLgEmail" class=" form-control-label">Email</label></div>
                        <div class="col-12 col-md-9">
                            <input type="email" id="txtLgEmail" placeholder="Example:estore@gmail.com" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="txtPassword" class=" form-control-label">Password</label></div>
                        <div class="col-12 col-md-9">
                            <input type="password" id="txtPassword" placeholder="Password" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary closedMDLogin">Close</button>
                        <button type="button" class="btn btn-primary" id="btnLgin">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var lsProd;
    function getlsProduct() {
        $.ajax({
            url: '/ShoppingCart/GetAllProuctByCart',
            type: 'get',
            success: function (res) {
                lsProd = JSON.parse(res);
                console.log(lsProd);
                lsProd.forEach(c => {
                    $('#lsProdByCart').append(
                        '<tr class="prod-item" data-id="' + c.ProductID + '">' +
                        '<td>' +
                        '<div class="media">' +
                        '<div class="d-flex">' +
                        '<img src="' + (c.ListImage == null ? "" : c.ListImage.split(',')[0]) + '" style="max-width:100px">' +
                        '</div>' +
                        '<div class="media-body">' +
                        '<p>' + c.ProductName + '</p>' +
                        '</div>' +
                        '</div>' +
                        '</td>' +
                        '<td><h5 id="price-' + c.ProductID + '">' + c.Price + '</h5></td>' +
                        '<td>' +
                        '<div class="product_count">' +
                        '<span class="input-number-decrement" id="minus-' + c.ProductID + '"> <i class="ti-minus"></i></span><input class="input-number" id="amount-' + c.ProductID + '" type="text" value="' + c.Amount + '" min="0" max="10"> <span class="input-number-increment" id="plus-' + c.ProductID + '"> <i class="ti-plus"></i></span>' +
                        '</div>' +
                        '</td>' +
                        '<td><h5 class="subTT" id="ttp-' + c.ProductID + '">' + (parseInt(c.Amount) * parseInt(c.Price)) + '</h5></td>' +
                        '</tr>'
                    )
                })
                $('#lsProdByCart').append(
                    '<td></td><td></td><td><h5>Subtotal</h5></td><td><h5 id="sttCart">' + calTotalPrice() + '</h5></td>'
                )
            }
        })
    }

    $(document).on('click', '.input-number-decrement', function () {
        var pId = $(this).attr('id').split('minus-')[1],
            crNum = $('#amount-' + pId).val();
        if (crNum == 0) return;
        $('#amount-' + pId).val(parseInt(crNum) - 1);
        calTotalPricePerProd(pId);
        $('#sttCart').html(calTotalPrice());
    })

    $(document).on('click', '.input-number-increment', function () {
        var pId = $(this).attr('id').split('plus-')[1],
            crNum = $('#amount-' + pId).val();
        $('#amount-' + pId).val(parseInt(crNum) + 1);
        calTotalPricePerProd(pId);
        $('#sttCart').html(calTotalPrice());
    })

    function calTotalPricePerProd(prodId) {
        var singlePrice = parseInt($('#price-' + prodId).html()),
            amount = parseInt($('#amount-' + prodId).val());
        $('#ttp-' + prodId).html(singlePrice * amount);
    }

    $(document).on('keypress', '.input-number', function (e) {
        console.log(e);
        let x = e.which || e.keyCode;
        if (x < 48 || x > 59) {
            return false;
        }
    });

    $('#btnCheckOut').on('click', function () {
        $('#mdCheckOut').show();
        return false;
    })

    $('#btnAccept').on('click', function () {
        if ($('#txtEmail').val().trim().length == 0) {
            alert('Invalid Email');
            return false;
        }
        if ($('#txtPhoneNumber').val().trim().length == 0) {
            alert('Invalid phone number');
            return false;
        }
        if ($('#txtName').val().trim().length == 0) {
            alert('Invalid name');
            return false;
        }
        if ($('#txtAddress').val().trim().length == 0) {
            alert('Invalid Address');
            return false;
        }
        var subObj = {
            Product: [],
            OrderInfo: {}
        };
        $('.prod-item').each(function () {
            var id = $(this).attr('data-id'),
                objProd = new Object();
            objProd.ProductId = parseInt(id);
            objProd.Amount = parseInt($('#amount-' + id).val());
            subObj.Product.push(objProd);
        })
        subObj.OrderInfo.Email = $('#txtEmail').val();
        subObj.OrderInfo.Phone = $('#txtPhoneNumber').val();
        subObj.OrderInfo.Name = $('#txtName').val();
        subObj.OrderInfo.Address = $('#txtAddress').val();
        subObj.OrderInfo.Note = $('#txtNote').val();
        subObj.OrderInfo.ShipMethod = $('#cboShipMethod').val();
        subObj.OrderInfo.TotalPrice = parseInt($('#sttCart').html());
        $.ajax({
            url: '/ShoppingCart/SaveOrder',
            type: 'Post',
            data: { model: subObj },
            success: function (res) {
                if (res == 1) {
                    alert('Success');
                    location.reload();
                } else if (res == 2) {
                    alert('Error');
                } else {
                    alert('Please login!');
                    $('#mdLogin').show();
                    //$('#mdCheckout').hide();
                }
            }
        })
    })

    $('#btnLgin').on('click', function () {
        var user = $('#txtLgEmail').val(),
            pwd = $('#txtPassword').val();
        $.ajax({
            url: '/ClientLogin/ClientLogin',
            type: 'get',
            data: { username: user, password: pwd },
            success: function (res) {
                if (res == 'True') {
                    alert('Login Success');
                    $('#mdLogin').hide();
                } else {
                    alert('Login failed');
                }
            }
        })
    })

    $('.closeMDCheckout').on('click', function () {
        $('#mdCheckOut').hide();
    })

    $('.closedMDLogin').on('click', function () {
        $('#mdLogin').hide();
    })

    function calTotalPrice() {
        var result = 0;
        $('.subTT').each(function () {
            var num = parseInt($(this).html());
            result += num;
        })
        return result;
    }
    getlsProduct();
</script>