
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .pgActive > a {
        color: black !important;
    }
</style>
<div style="background-color:white">
    <h2>Order Manager</h2>


    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Note</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody id="dataOrder"></tbody>
        </table>
    </div>

    <div class="modal" id="mdDetail" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Order Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Product Name</th>
                                <th scope="col">Price</th>
                            </tr>
                        </thead>
                        <tbody id="dataDetail"></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeDetail">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="pagination" class="d-flex justify-content-end" style="padding-right:30px"></div>

<script>
    var pagi = $('#pagination');
    var _glbOrder;
    var lsOrder = $('#dataOrder'),
        curPg = 0,
        recPerPage = 10;
    function loadOrder() {
        $.ajax({
            url: "/Admin/Order/Gets",
            type: "Get",
            success: function (res) {
                res.forEach((e, i) => {
                    e.Idx = i + 1;
                })
                _glbOrder = res;
                if (_glbOrder) {
                    renderTable(_glbOrder, curPg);
                    pagi.html(ShowOnPagination(_glbOrder.length, recPerPage, curPg))
                }
            }
        })
    }

    

    //
    $(document).on('click', '#add', function () {
        resetForm();
        $('#addedit').show();
    })

    $(document).on('click', '#closeM', function () {
        $('#addedit').hide();
    })

    $(document).on('click', '.numbPage', function () {
        if ($(this).hasClass('pgActive')) return;
        curPg = parseInt($(this).html()) - 1;
        renderTable(_glbOrder, curPg);
        pagi.html(ShowOnPagination(_glbOrder.length, recPerPage, curPg));
        return false;
    })
        .on('click', '.page-ar', function () {
            var action = $(this).attr('action');
            if (action == 'prev') {
                $('#lsPaging li.pgActive').prev().children('a').click();
            } else {
                $('#lsPaging li.pgActive').next().children('a').click();
            }
            return false;
        })
        .on('click', '.btnApproved', function () {
            var oId = $(this).attr('data-id');





        })
    function resetForm() {
        
    }

    $('#closeDetail').on('click', function () {
        $('#mdDetail').hide();
    })

    function renderTable(data, currPage) {
        lsOrder.html('');
        var lsDataFinal = data.slice(recPerPage * parseInt(currPage));
        lsDataFinal.forEach((e, i) => {
            if (i >= recPerPage) return;
            lsOrder.append("<tr><th scope='row'>" + e.Idx + "</th><td>" + e.Name + "</td><td>" + e.Address + "</td><td>" + e.Note + "</td><td>" + e.Status + "</td><td > <a data-id='" + e.OrderId + "' class='btnView'><i class='fas fa-eye'></i></a>" + (e.Status == 'Pending' ? " <a data-id='" + e.OrderId + "' class='btnApproved'><i class='fa fa-wrench'></i></a>" : "") + (e.Status == 'Pending' ? " <a class='btnCancel' data-id='" + e.OrderId + "'><i class='fa fa-times-circle' ></i></a></td></tr>" : (e.Status == 'Approve' ? " <a class='btnCancel' data-id='" + e.OrderId + "'><i class='fa fa-times-circle' ></i></a></td></tr>":"")) );
        })
    }



    loadOrder();
</script>