
@{
    ViewBag.Title = "Index";
}

<div id="contentout">
    <div id="content" style="float:inherit">
        <div style="background-color:antiquewhite;text-align: center; height:250px">
            <h1 style="padding-top:100px">TDEE Calculator</h1>
        </div>
        <div style="padding:250px;padding-top:20px">
            <form>
                <div class="form-group">
                    <label for="age">Age</label>
                    <input type="number" class="form-control" id="age">
                </div>
                <div class="form-group">
                    <label for="height">Height(cm)</label>
                    <input type="number" class="form-control" id="height">
                </div>
                <div class="form-group">
                    <label for="weight">Weight(kg)</label>
                    <input type="text" class="form-control" id="weight">
                </div>


                <div class="form-row align-items-center">
                    <div class="col-auto my-1">
                        <label class="mr-sm-2" for="activity">Activity</label>
                        <select class="custom-select mr-sm-2" id="activity">
                            <option value="0">--Choose--</option>
                            <option value="1">Basal Metabolic Rate (BMR)</option>
                            <option value="1.2">Sedentary: little or no exercise</option>
                            <option value="1.375">Light: exercise 1-3 times/week</option>
                            <option value="1.465">Moderate: exercise 4-5 times/week</option>
                            <option value="1.55">Active: daily exercise or intense exercise 3-4 times/week</option>
                            <option value="1.725">Very Active: intense exercise 6-7 times/week</option>
                            <option value="1.9">Extra Active: very intense exercise daily, or physical job</option>
                        </select>
                    </div>

                </div>


                <div class="form-check">
                    <input class="form-check-input gender" type="radio" name="gender" value="5">
                    <label class="form-check-label" for="gender">
                        Male
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input gender" type="radio" name="gender" value="-161">
                    <label class="form-check-label" for="gender">
                        Female
                    </label>
                </div>
                
            </form>
            <button type="submit" class="btn btn-primary" id="cal">Calculate</button>

            <div id="res" style="padding : 20px">
            </div>
            <div>
                <h2>What is TDEE?</h2>
                <div class="et_pb_module et_pb_post_content et_pb_post_content_0_tb_body"><p>Want to change your weight?<br>Know what TDEE is?<br>It’s an acronym for Total Daily Energy Expenditure and probably the most important info you’ll need.</p><p>You see, the starting point for any successful body composition change is to first know how much energy you burn.</p><p>Your Total Daily Energy Expenditure (TDEE) represents the total number of calories we burn in a day and is made of 4 Elements: Basal Metabolic Rate (BMR), Non-Exercise Activity Thermogenesis (NEAT), Exercise Activity Thermogenesis (EAT) and your Thermic Effect of Food (TEF).</p><p><br>BMR – 70%.&nbsp;This is how much energy your body burns at rest, it’s the energy required to support your vital body functions.<br>Think the healthy function of your liver, kidneys, brain etc. as well as maintenance of fat free mass.<br>One of the best ways to increase your BMR is to build muscle.<br>This allows you to burn more calories all the time and not just during your workouts affecting the 70% variable without relying on the 5% attributed to Exercise Activity Thermogenesis.</p><p><strong>NEAT – 15%</strong></p><p>This is everything you do outside of your workouts, eating or sleeping.<br>From walking, fidgeting and typing to cooking etc.<br>Focus on getting up your daily steps and prioritising strength training to maximise not just your NEAT but all other variables in your TDEE.</p><p><strong>TEF – 10%</strong></p><p>This is energy required for digestion, absorption and disposal of what you eat.<br>Consider that a calorie isn’t always a calorie and each macronutrient has a different thermic effect. Protein uses 20-25% to process, Carbs 5-15% and Fat 0-5%.<br>Also how the food was cooked, if it’s processed and the freshness will all impact the thermic effect of food.</p><p><strong>EAT – 5%</strong></p><p>This is what you burn during workouts.<br>You really can’t out exercise a bad diet and this is why it’s most important to build nutrition and lifestyle habits before considering the last 5%.</p><p>We recommend not focusing on the calories burnt in workouts alone but prioritising how you can continue to burn more calories on an on-going basis as well as managing stress, getting enough sleep and of course eating right for your goals.</p><p></p>
                </div>
            </div>
        </div>




    </div>

</div>

<script>

    function CalTdee(weight, height, age, K, R) {
        var BMR = (9.99 * weight) + (6.25 * height) - (4.92 * age) + K;

        return BMR * R;
    }

    $("#cal").on('click', function () {
        var a = $('#age').val()
        var h = $('#height').val()
        var w = $('#weight').val()
        var K = $('#weight').val()
        var R = $("input[name='gender']:checked").val()
        var tdee = CalTdee(w, h, a, K, R);

        var resText = "<p style='font-size:45px'>Your TDEE is " + tdee + "</p>";

        $('#res').html('');
        $('#res').append(resText)




    })

</script>