
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .pgActive > a {
        color: black !important;
    }
</style>
<div style="background-color:white">
    <h2>Order Manager</h2>


    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Note</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody id="dataSC"></tbody>
        </table>
    </div>

    <div class="modal" id="DeleteForm" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure?
                    <input type="hidden" id="delId" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeDel">Close</button>
                    <button type="button" class="btn btn-primary" id="btnDel">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="pagination" class="d-flex justify-content-end" style="padding-right:30px"></div>

<script>
    var pagi = $('#pagination');
    var _glbSC;
    var lsSC = $('#dataSC'),
        curPg = 0,
        recPerPage = 10;
    function loadSC() {
        $.ajax({
            url: "/Admin/ShoppingCart/GetCart",
            type: "Get",
            success: function (res) {
                res.forEach((e, i) => {
                    e.Idx = i + 1;
                })
                _glbSC = res;
                if (_glbSC) {
                    renderTable(_glbSC, curPg);
                    pagi.html(ShowOnPagination(_glbSC.length, recPerPage, curPg))
                }
            }
        })
    }



    //---add and edit---
    $(document).on('click', '.btnEdit', function () {
        resetForm();
        var categoryId = $(this).attr('data-id');
        var category = _glbCategory.find(e => e.CategoryID == categoryId);
        if (category) {
            $('#name').val(category.CategoryName);
            $('#active').val(category.Active);
            obj.CategoryID = categoryId
        }
        $('#addedit').show();
    })
    //
    $(document).on('click', '#add', function () {
        resetForm();
        $('#addedit').show();
    })

    $(document).on('click', '#closeM', function () {
        $('#addedit').hide();
    })

    $(document).on('click', '.numbPage', function () {
        if ($(this).hasClass('pgActive')) return;
        curPg = parseInt($(this).html()) - 1;
        renderTable(_glbCategory, curPg);
        pagi.html(ShowOnPagination(_glbCategory.length, recPerPage, curPg));
        return false;
    })
        .on('click', '.page-ar', function () {
            var action = $(this).attr('action');
            if (action == 'prev') {
                $('#lsPaging li.pgActive').prev().children('a').click();
            } else {
                $('#lsPaging li.pgActive').next().children('a').click();
            }
            return false;
        })

    //--delete---
    $(document).on('click ', '.btnDel', function () {
        var categoryId = $(this).attr('data-id');
        $('#delId').val(categoryId);
        $('#DeleteForm').show();
    })

    //$(document).on('click', '#btnDel', function () {
    //    var id = $('#delId').val();
    //    Delete(id);
    //})

    //$(document).on('click', '#closeDel', function () {
    //    $('#DeleteForm').hide();
    //})

    //function Delete(id) {
    //    $.ajax({
    //        url: "/Admin/Category/Delete",
    //        type: "POST",
    //        data: {
    //            id: id
    //        },
    //        success: function (res) {
    //            if (res) {
    //                loadCategory();
    //                alert('xoa thanh cong');
    //            } else {
    //                alert('xoa that bai');
    //            }
    //        }, error: function (error) {
    //            console.log(error);
    //        }
    //    })
    //    $("#DeleteForm").hide();
    //}



    function resetForm() {
        //$('#name').val('');
        //$('#active').val('');
    }

    function renderTable(data, currPage) {
        lsCategory.html('');
        var lsDataFinal = data.slice(recPerPage * parseInt(currPage));
        lsDataFinal.forEach((e, i) => {
            if (i >= recPerPage) return;
            lsCategory.append("<tr><th scope='row'>" + e.Idx + "</th><td>" + e.Name + "</td><td>" + e.Address + "</td><td>" + e.Note + "</td><td>" + e.Status + "</td><td ><a data-id='" + e.OrderId + "' class='btnEdit'><i class='fa fa-wrench'></i></a> <a class='btnDel' data-id='" + e.OrderId + "'><i class='fa fa-times-circle' ></i></a></td></tr >");
        })
    }

    loadSC();
</script>