
@{
    ViewBag.Title = "Index";
}



<div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="single-slider slider-height2 d-flex align-items-center" data-background="~/assetclient/assets/img/hero/category.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>product Details</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider Area End-->
<!--================Single Product Area =================-->
<div>
    <div class="container">
        <div class="text-center">
            
                <div id="IdPro">
                 
                </div>
                <div class="single_product_text text-center" id="tPro">
                   <h3 id="prodTitle"></h3>
                    <p id="prodDes"></p>
                    <div class="card_area">
                        <div class="product_count_area">
                            <p>Quantity</p>
                            <div class="product_count d-inline-block">
                                <span class="product_count_item inumber-decrement" id="numMinus"> <i class="ti-minus"></i></span>
                                <input class="product_count_item input-number" id="numToOrd" type="text" value="1" min="0" max="10">
                                <span class="product_count_item number-increment" id="numPlus"> <i class="ti-plus"></i></span>
                            </div>
                            <p>x&nbsp;</p>
                            <p id="pRice"></p>
                            <p>&nbsp;VND</p>
                        </div>
                        <div class="add_to_cart">
                            <a href="#" class="btn_3" id="btnAdd">add to cart</a>
                        </div>
                    </div>
                </div>
            
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->
<!-- subscribe part here -->
<section class="subscribe_part section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="subscribe_part_content">
                    <h2>Get promotions & updates!</h2>
                    <p>Seamlessly empower fully researched growth strategies and interoperable internal or “organic” sources credibly innovate granular internal .</p>
                    <div class="subscribe_form">
                        <input type="email" placeholder="Enter your mail">
                        <a href="#" class="btn_1">Subscribe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- subscribe part end -->
<script>
    var id = @ViewBag.ProID;
    function ProductLoad() {
        $.ajax({
            url: "/ClientProductDetail/LoadProduct",
            data: { id: id },
            type: "Get",
            success: function (res) {
                res = JSON.parse(res)
                if (res) {
                    var image = res.ListImage ? res.ListImage.split(",")[0] : "/assetclient/assets/img/noimg.png"
                    var Description = res.Description;
                    var ProductName = res.ProductName;
                    var Price = res.Price;
                    $('#IdPro').append("<img style='max-height:400px' src='" + image + "' alt=''>");
                    $('#pRice').html(Price);
                    $('#prodTitle').html(ProductName);
                    $('#prodDes').html(Description)
                }
            }
        })
    }

    $("#numToOrd").on('keypress', function (e) {
        console.log(e);
        let x = e.which || e.keyCode;
        if (x < 48 || x > 59) {
            return false;
        }
    });

    $('#numMinus').on('click', function () {
        var val = parseInt($('#numToOrd').val());
        if (val - 1 == 0) return;
        $('#numToOrd').val(val - 1);
    })

    $('#numPlus').on('click', function () {
        var val = parseInt($('#numToOrd').val());
        $('#numToOrd').val(val + 1);
    })

    $('#btnAdd').on('click', function () {
        var prodNum = parseInt($('#numToOrd').val());
        if (prodNum == 0) return false;
        $.ajax({
            url: '/ShoppingCart/AddToCart',
            type: 'post',
            data: { productId: parseInt(id), amount: prodNum },
            success: function (res) {
                if (res) {
                    alert('Success');
                    loadCartCount();
                } else {
                    alert('Failed');
                }
            }
        })
        return false;
    })

    ProductLoad();
</script>